.red {
	background-color: red;
	display: inline-block;
	width: 100px;
	height: 100px;
	margin: 10px;
	border: black 1px solid;
}
.blue {
	background-color: blue;
	display: inline-block;
	width: 100px;
	height: 100px;
	margin: 10px;
	border: black 1px solid;
}